*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.containerProdutos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #3B4F66;
    margin: 5px;
    align-items: center; 
}
.tituloProdutos{ 
    color:#9EDA6D;
    text-align: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    justify-items: center;
    align-items: center;

}
.imagemTime{
   border-top-left-radius: 80%;
   width: 30%;
   height: 30%;
   padding-left: 50%;
}
.subtituloTime{
    color:#9EDA6D;
    padding-bottom: 1%;
}
.textoTime{
    color:#fff;
    font-size: 19px;
    text-align: left;
    padding-right: 30%;

}