* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav,ul {
    list-style-type: none;
    font-size: medium;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 2;
}


/* HEADER */
header {
    background-color: #3B4F66;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3vw 5px 3vw;
    box-sizing: border-box;
}

header img {
    height: 70px;
    width: auto;
}

header nav {
    display: flex;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

header li a {
    color: #e2e2e2;
}

header li {
    margin: 0 10px
}





/* MAIN PARTE SEGUROS AUTO E VIDA */
/* MAIN PARTE SEGUROS AUTO E VIDA */
/* MAIN PARTE SEGUROS AUTO E VIDA */
/* MAIN PARTE SEGUROS AUTO E VIDA */
/* MAIN PARTE SEGUROS AUTO E VIDA */
/* MAIN PARTE SEGUROS AUTO E VIDA */

main {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    background-color: #FAFAFA;
}

.cabecalho {
    width: 100%;
    background-color: #304053;
    display: flex;
    padding-top: 16vh;
    padding-bottom: 1vh;
    flex-direction: column;
    /* border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px; */
}

.textoAbertura,
.textoSegVida {

    padding: 4vh;
    font-size: 44px;
    color: #9EDA6D;
}

.textoAbertura2,
.textoSegVida2 {
    margin: 15px 15px;
    font-size: 26px;
}

.imagemCasal {
    height: 30vh;
    width: auto;
}

.textoSeguro {
    padding-top: 50px;
    color: green;
    font-size: 44px;
}

.textoSeguro2 {
    padding: 30px;
    margin: 15px 15px;
    font-size: 26px;
}

.imgCoberturas {
    height: 30vh;
    width: auto;
}

.imgCoracao {

    height: 30vh;
    width: auto;
}

.textoSegVida {
    font-size: 44px;
}

.vidaContainer {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}



/* FOOTER */

body {
    font-family: 'Poppins', sans-serif;
    /* line-height: 1.42857143; */
}

.imagemFooter{
    height: 50%;
    width: 50%;
    padding-left: 30%;

    /* height: auto;
    width: 50vw; */
}
.containerFooter {
    /* padding-top: 99px; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: #304053;
    padding-top: 10%;
    margin: 2% 0 0 0;
    align-items: center;
    justify-items: center;
}

/* .containerFooter {
    margin: 5px;
    background-color: #3B4F66;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
} */

.botao {
    transition: opacity 250ms ease-in;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    border-radius: 40px;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    margin-right: 30px;

}

.botao:hover {
    background-color: #9EDA6D;
}

.botao:active {
    background-color: #fff;
}
.colunaFooter-1{
    grid-row: 1/ span;
    grid-column: 1 / span 2;
}
.colunaFooter-2{
    /* width: 400px; */
    grid-row: 2/ span;
    grid-column: 1 / span 2;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    color: #3B4F66;
}

.grandeVerde {
    font-size: 17px;
    color: #9EDA6D;
}

footer p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    /* width: 250px; */
}

.listaMapa {
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

.siteMapa {
    color: #fff;
    font-size: 13px;

}

.ColunaSociais {
    padding-top: 3%;
    grid-row: 3/ span 1;
    grid-column: 1 / span 2 ;
}

.redesSociais {

    margin-left: 19%;
}
 .redesSociais a {
    padding: 8px;
} 






/* TIME */
/* TIME */
/* TIME */
/* TIME */
.containerTime {
    padding-top: 99px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #304053;
    margin: 0 0 0 0;
    align-items: center;
}

.tituloTime {
    color: #9EDA6D;
    font-size: 25px;
    text-align: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    justify-items: right;
    align-items: center;

}

.imagemTime {
    border-top-left-radius: 80%;
    width: 15vw;
    height: auto;
    padding-left: 50%;
}

.subtituloTime {
    color: #9EDA6D;
    padding-bottom: 1%;
}

.textoTime {
    text-align: center;
    color: #fff;
    font-size: 19px;
    text-align: left;
    padding-right: 30%;

}

/* CONTATO */
/* CONTATO */
/* CONTATO */

.containerFormulario {
    padding: 5vh;
    /* display: flex; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 0px;
    background-color: #304053;
    /* flex-wrap: wrap; */
}

.imagemFormulario {
    width: 50vw;
    height: 50vh;
    /* padding-left: 2vw; */
    padding-top: 5vh;
}

/* ADICIONADO*/
.item1Formulario,
.item2Formulario {
    flex-wrap: wrap;
}

/* ADICIONADO*/
.tituloFormulario {
    color: #9EDA6D;
    font-size: 37px;
    margin-top: 20px;
    /*para alinhar com a imagem*/
    text-align: left;

}

.itensFormulario {
    color: #9EDA6D;
}

.caixaConteudo {
    width: 20.5vw;

    /* width: 400px; */
    background-color: #FAFAFA;
}

#conteudoMensagem {
    height: 10vh;
    width: 30vw;


    /* height: 100px;
    width: 500px; */
}

#botaoEnviar {
    font-weight: bold;
    height: 4vh;
    width: auto;
    background-color: #fff;
    color: #3B4F66;
    border-radius: 5px;
    /* margin-bottom: 20%; */
}

#botaoEnviar:hover {
    background-color: #9EDA6D;
}

#botaoEnviar:active {
    background-color: white;
}

/*Promoções*/
/*Promoções*/
/*Promoções*/

.containerClube1 {
    padding-top: 100px;
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #3B4F66;
    padding-bottom: 2%;
}

.imagemClube1 {
    width: 80%;
    height: 80%;
    padding-left: 40px;
    

}

.tituloClube1 {
    color: #9EDA6D;
    font-size: 37px;
    width: 400px;
    text-align: left;
    padding-left: 40px;
}

.subtituloClube1 {
    padding-left: 40px;
    color: #fff;
}

.containerClube2 {
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    background-color: #3B4F66;
    padding-bottom: 12%;
}

.imagem1Clube2 {
    width: 70%;
    height: 60%;
    padding-left: 10%;
    padding-top: 10%;

}

.imagem2Clube2 {
    width: 90%;
    height: 61%;
    padding-left: 10%;
    padding-top: 5%;
}

.imagem3Clube2 {
    padding-top: 3%;
    width: 70%;
    height: 60%;
    padding-left: 10%;
}

.subtituloClube2 {
    font-size: 30px;
    text-align: center;
    color: #9EDA6D;
}

.conteudoClube2 {
    padding-top: 2%;
    padding-left: 40px;
    color: #fff;
    text-align: center;
    width: 80%;

}

.itensFormulario {
    color: #9EDA6D;
}

.caixaConteudo {
    width: 400px;
    background-color: #fff;
}

#conteudoMensagem {
    height: 100px;
    width: 500px;
}

#botaoSaibaMais {
    font-weight: bold;
    height: 50px;
    width: 100px;
    background-color: #3B4F66;
    color: #9EDA6D;
    border-radius: 10%;
    margin-bottom: 5%;
}

#botaoSaibaMais:hover {
    background-color: #9EDA6D;
    color: #3B4F66;
}

#botaoSaibaMais:active {
    background-color: white;
}






/* DUVIDAS */

/* html {
    text-size-adjust: 100%;
} */

body {
    color: rgba(0, 0, 0, 0.8);
    overflow-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

.mainDuvidas {
    margin-top: 2%;
    
    /* display: flex;
    flex-direction: column; */
    /* -webkit-box-align: stretch; */
    /* align-items: stretch; */
    /* -webkit-box-pack: start;
    justify-content: flex-start; */
    /* text-align: center; */
    /* width: 100%; */
    padding-right: 12%;
    padding-left: 12%;
}

.mainDuvidasContainer {
    position: relative;
    width: 100%;
    margin: 0px auto;

}

h2 {
    padding: 0px 0px 0px 33px;
}

.mainDuvidash2 {
    color: #3b4f66;
    text-decoration: none;
    margin: 0%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-rendering: optimizeLegibility;
    
}

.mainDuvidasP {
    color: #3b4f66;

    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;

}

/* @media screen and (min-width: 640px) 
<style>
.mainDuvidasP{
    padding: 16px 0px 0px;
} */

.mainDuvidasEu {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(83, 95, 104);
    margin: 0;
    padding: 2% 0px 2% 35px;
}

/* @media screen and (min-width: 640px)
<style>
.mainDuvidasPEu {
    text-align: center;
} */



.mainDuvidasBloco {
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

/* @media screen and (min-width: 640px)
<style>
.mainDuvidasBloco {
    padding: 16px 0px 32px;
} */

ul {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    margin-bottom: 0;
    text-align: -webkit-match-parent;
}

li :last-child {
    margin-bottom: 10px;
}

ul li {
    padding-left: 0;

}

.mainBotaoDuvidasFinal {
    display: flex;
    flex-flow: column nowrap;
}

/* @media screen and (min-width: 640px)
<style>
.mainBotaoDuvidasFinal{
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
} */

.mainBotaoDuvidasFinalMargin {
    display: flex;
    flex-flow: column nowrap;
}

/* @media screen and (min-width: 640px)
<style>
.mainBotaoDuvidasFinalMargin{
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
} */

.mainBotaoDuvidasFinal::after {
    content: " ";
    display: block;
    position: absolute;
    inset: -4px;
    border: 2px solid transparent;
    z-index: 1;
    pointer-events: none;
    box-sizing: inherit;
}

/* .mainDuvidasBotaoDivSpan{

} */
/* @media screen and (min-width: 640px)
<style>
.mainDuvidasBotaoDivSpan{
    display: inline-block;
} */
button {
    appearance: none;
    overflow: visible;

}

.mainDuvidasBotao {
    border-color: solid 2px #3b4f66;
    background-color: #3b4f66;
}

.mainDuvidasBotaoDiv {
    background-color: #9eda4e;
    display: flex;
    -webkit-box-align: stretch;
    flex-flow: row nowrap;
}

button .mainDuvidasBotaoDiv {
    text-align: left;
    cursor: pointer;
}

.mainDuvidasDivSvg {
    display: flex;
    flex-flow: column nowrap;

}

/* @media screen and (min-width: 640px)
<style>
.mainDuvidasDivSvg{
    padding: 0px 16px 0px 0px;
} */

/* @media screen and (min-width: 640px)
<style>
.mainDuvidasDivSvg {
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
} */

.mainDuvidasTituloLista {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3b4f66;
    padding: 5px;
}

/* @media screen and (min-width: 640px)
<style>
.mainDuvidasTituloLista {
    text-align: inherit;
} */
.mainDuvidasDivSome {
    transition: max-height 0.3s ease 0s;
    overflow: hidden;
}

/* @media screen and (min-width: 640px)
<style>
.brXOYb {
    max-height: 0px;
} */
.mainDuvidasDivSomeMargin {
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color: black;
}

/* @media screen and (min-width: 640px)
<style>
.mainDuvidasDivSomeMargin {
    padding: 16px 16px 16px 56px;
} */
.mainDuvidasDivSomeMarginP {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.mainBotaoDuvidasSpan {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out 0s;
    line-height: 44px;
    background-color: transparent;
    padding: 0px 22px;
    border: 2px solid rgb(47, 57, 65);
    color: rgb(0, 0, 0);

}

/* @media screen and (min-width: 640px)
<style>
.mainDuvidasDivSomeMarginP {
    text-align: inherit;
} */

/* PARTE RESPONSIVA */

@media screen and (min-width:651px) and (max-width:920) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header {
        margin-bottom: 5px;
    }

    .textoAbertura,
    .textoSeguro, .tituloClube1, .subtituloClube1, .subtituloClube2 {
        text-align: center;
        font-size: 34px;
    }

    .imgCoberturas {
        width: 95%;
        height: auto
    }

    footer {
        width: auto;
        height: auto;
    }

    /*CONTATO*/


    .tituloFormulario {
        text-align: center;
        font-size: 27px;
    }

    .itensFormulario {
        flex-flow: column;
    }

    #conteudoMensagem {
        width: 50vw;
    }

    .caixaConteudo {
        width: 27vw;
    }

    .item2Formulario {
        padding: auto;
    }

    .imagemFormulario, .imagemClube1 {
        width: 40vw;
        height: auto;
        scroll-padding-right: 30%;
        
    }

    /*TIME*/

    .containerTime {
        padding-top: 10vh;
    }

    .tituloTime {
        padding-top: 20px;
        font-size: 15px;

    }

    .subtituloTime {
        text-align: left;
    }

    .textoTime {
        font-size: 10px;
        text-align: center;
    }

    .imagemTime {
        width: 40vw;
        height: auto;
        padding-left: 30%;

    }
    /*TESTE CONTAINERFOETER*/
    .containerTime {
        padding-top: 10vh;
    }

    .grandeVerde {
        padding-top: 20px;
        font-size: 15px;

    }
    .textoFooter {
        font-size: 10px;
        text-align: center;
    }

    /*promocoes*/


}


@media screen and (min-width:300px) and (max-width:650px) {
    header {
        flex-direction: column;
        text-align: center;
        margin-bottom: 5px;
    }

    header li {
        display: none;
    }

    .textoAbertura,
    .textoSeguro,.tituloClube1, .subtituloClube1, .subtituloClube2 {
        text-align: center;
        font-size: 26px;
        padding: 0px;
    }

    .textoAbertura2,
    .textoSeguro2 {
        text-align: center;
        font-size: 14px;
    }

    .imgCoberturas {
        width: 95%;
        height: auto
    }


    footer {
        width: 100%;
        height: 70%;
    }

    /*CONTATO*/
    /*CONTATO*/
    /*CONTATO*/

    .containerTime {
        padding: 10px;

    }

    .tituloFormulario {
        text-align: center;
        font-size: 27px;
    }

    .itensFormulario {
        flex-flow: column;
    }

    #conteudoMensagem {
        width: 50vw;
    }

    .caixaConteudo {
        width: 30vw;
    }

    .item2Formulario {
        padding: auto;
    }

    .imagemFormulario {
        height: 25vh;
        padding-left: 10vw;
    }

    /*TIME*/
    /*TIME*/
    /*TIME*/

    .containerTime {
        padding-top: 10vh;
    }

    .tituloTime {
        padding-top: 20px;
        font-size: 15px;

    }

    .subtituloTime {
        text-align: left;
    }

    .textoTime {
        font-size: 10px;
        text-align: center;
    }

    .imagemTime {
        width: 30vw;
        height: auto;
        padding-left: 30%;

    }
    /*TESTE CONTAINER FOOTER*/
    .containerFooter {
        padding-top: 10vh;
    }

    .grandeVerde {
        padding-top: 20px;
        font-size: 15px;

    }
    .textoFooter {
        font-size: 10px;
        text-align: center;
    }

   /* .imagemTime {
        width: 40vw;
        height: auto;
        padding-left: 30%;

    } */

    /*promocoes*/
    /*promocoes*/
    /*promocoes*/
    /*promocoes*/

    .containerClube1 {
        padding-top: 90px;
    
    }

    .tituloClube1,
    .subtituloClube1 {
        font-size: 70%;
    }

    .containerClube2 {

        font-size: 50%;
        
    }
}