* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav,
ul {
    list-style-type: none;
    font-size: small;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 2;
}


/* HEADER */
header {
    background-color: #3B4F66;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3vw 5px 3vw;
    box-sizing: border-box;
}

header img {
    height: 70px;
    width: auto;
}

header nav {
    display: flex;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

header li a {
    color: #e2e2e2;
}

header li {
    margin: 0 10px
}

@media (max-width:700px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header {
        margin-bottom: 5px;
    }
}

main {
    background-color: #304053;
}