* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav,
ul {
    list-style-type: none;
    font-size: small;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 2;
}


/* HEADER */
header {
    background-color: #3B4F66;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3vw 5px 3vw;
    box-sizing: border-box;
}

header img {
    height: 70px;
    width: auto;
}

header nav {
    display: flex;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

header li a {
    color: #e2e2e2;
}

header li {
    margin: 0 10px
}






/* MAIN */
main {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    background-color: #FAFAFA;
}

.cabecalho {
    width: 100%;
    background-color: #304053;
    display: flex;
    padding-top:16vh;
    padding-bottom: 1vh ;
    flex-direction: column;
    /* border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px; */
}

.textoAbertura {
    font-size: 44px;
}

.textoAbertura2 {
    margin: 15px 15px;
    font-size: 24px;
}

.imagemCasal {
    height: 30vh;
    width: auto;
}

.textoSeguro{
    padding-top: 50px;
    color: green;
    font-size: 44px;
}
.textoSeguro2{
    padding: 30px;
    margin: 15px 15px;
    font-size: 24px;
}













/* PARTE RESPONSIVA */

@media screen and (min-width:645px) and (max-width:920) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header {
        margin-bottom: 5px;
    }

    .textoAbertura,.textoSeguro {
        text-align: center;
        font-size: 34px;
    }
}


@media screen and (min-width:300px) and (max-width:650px) {
    header {
        flex-direction: column;
        text-align: center;
        margin-bottom: 5px;
    }

    /* header li {
        display: none;
    }  */

    .textoAbertura, .textoSeguro {
        text-align: center;
        font-size: 26px;
    }

    .textoAbertura2, .textoSeguro2 {
        text-align: center;
        font-size: 14px;
    }
}